:root {
    --background-color: white;
    --menu-link-color: white;
    --menu-bg: #5407a3;
    --menu-hover: #6d0ccf;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

#menu-toggle {
    opacity: 0;
}

label[for='menu-toggle'] > span::before {
    content: '';
    top: -8px;
}

label[for='menu-toggle'] > span::after {
    content: '';
    top: 8px;
}

label[for='menu-toggle'] {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    z-index: 1;
}

label[for='menu-toggle'] > span,
label[for='menu-toggle'] > span::before,
label[for='menu-toggle'] > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--menu-bg);
    transition-duration: 0.2s;
    animation-timing-function: ease-in;
}

#menu-toggle:checked ~ label[for='menu-toggle'] > span {
    transform: rotate(45deg);
}

#menu-toggle:checked ~ label[for='menu-toggle'] > span::before {
    top: 0;
    background-color: var(--background-color);
}

#menu-toggle:checked ~ label[for='menu-toggle'] > span::after {
    top: 0;
    background-color: var(--background-color);
    transform: rotate(90deg);
}

.menu nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    background-color: var(--menu-bg);
    transition-duration: 0.3s;
    animation-timing-function: ease-in;
}

#menu-toggle:checked ~ nav {
    visibility: visible;
    right: 0;
}

.menu nav a {
    padding: 12px 24px;
    color: var(--background-color);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.3s;
    animation-timing-function: ease-in;
}

.menu nav a:hover {
    background-color: var(--menu-hover);
}

.slider {
    width: 75vw;
    height: 40%;
    margin: auto;
  }
  
  .slider nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slide img{
      height: 200px;
  }

  .slider nav label {
    cursor: pointer;
    font-weight: bolder;
    margin-left: 10px;
  }
  
  .slider nav label:hover {
    text-decoration: underline;
  }
  
  .slider .slides {
    display: flex;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    gap: 20px;
  }
  
    .slides .slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    background-color: var(--menu-hover);
    display: none;
  }
  
  .slider .slides .slide .content {
    margin: auto;
  }
  
  .slider .slides .checkbox {
    display: none;
  }
  
  .slider .slides .checkbox:checked + .slide {
    display: flex;
  }